{% extends 'base.html.twig' %}

{% block title %}
    {% if new %}
        {% trans %}
            title.new
        {% endtrans %}
    {% else %}
        {% trans %}
            title.edit
        {% endtrans %}
    {% endif %}
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col">
            {{ form_start(form) }}
            {{ form_errors(form) }}

            <div class="form-group">
                {{ form_label(form.title) }}
                {{ form_errors(form.title) }}
                {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.contactPhone) }}
                {{ form_errors(form.contactPhone) }}
                {{ form_widget(form.contactPhone, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.zipCode) }}
                {{ form_errors(form.zipCode) }}
                {{ form_widget(form.zipCode, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.city) }}
                {{ form_errors(form.city) }}
                {{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.street) }}
                {{ form_errors(form.street) }}
                {{ form_widget(form.street, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.building) }}
                {{ form_errors(form.building) }}
                {{ form_widget(form.building, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.apartmentNumber) }}
                {{ form_errors(form.apartmentNumber) }}
                {{ form_widget(form.apartmentNumber, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div>
                {% if new %}
                    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}, 'label': 'button.save'}) }}
                {% else %}
                    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}, 'label': 'button.edit'}) }}
                {% endif %}

            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}