{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}
        title.allAdverts
    {% endtrans %}
{% endblock %}

{% block body %}

    <a href="{{ path('new') }}" class="btn btn-outline-info" role="button" aria-pressed="true">
        {% trans %}
            button.newAdvert
        {% endtrans %}
    </a>

    <div class="count">
        {{ pagination.getTotalItemCount }}
    </div>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">
                {% trans %}
                    table.id
                {% endtrans %}
            </th>
            <th scope="col">
                {% trans %}
                    table.title
                {% endtrans %}
            </th>
            <th scope="col">
                {% trans %}
                    table.contactPhone
                {% endtrans %}
            </th>
            <th scope="col">
                {% trans %}
                    table.zipCode
                {% endtrans %}
            </th>
            <th scope="col">
                {% trans %}
                    table.city
                {% endtrans %}
            </th>
            <th scope="col">
                {% trans %}
                    table.street
                {% endtrans %}
            </th>
            <th scope="col">
                {% trans %}
                    table.building
                {% endtrans %}
            </th>
            <th scope="col">
                {% trans %}
                    table.apartmentNumber
                {% endtrans %}
            </th>
            <th scope="col">
                {% trans %}
                    table.actions
                {% endtrans %}
            </th>
        </tr>
        </thead>
        {% for advert in pagination %}
            <tr>
                <td>{{ advert.id }}</td>
                <td><a href="{{ path('show', {id: advert.id}) }}">{{ advert.title }}</a></td>
                <td>{{ advert.contactPhone }}</td>
                <td>{{ advert.zipCode }}</td>
                <td>{{ advert.city }}</td>
                <td>{{ advert.street }}</td>
                <td>{{ advert.building }}</td>
                <td>{{ advert.apartmentNumber }}</td>
                <td>
                    <a href="{{ path('edit', {id: advert.id}) }}" class="btn btn-outline-success"
                       role="button" aria-pressed="true">
                        {% trans %}
                            button.edit
                        {% endtrans %}
                    </a>
                    <form action="{{ path('delete', {id: advert.id}) }}" method="post">
                        <input type="hidden" name="_method" value="DELETE"/>
                        <input type="submit" class="btn btn-outline-danger" value="
                            {% trans %}
                                button.delete
                            {% endtrans %}
                        "/>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

