{% extends 'base.html.twig' %}

{% block title %} {{ advert.title }} {% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ advert.title }}</h5>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    {% trans %}
                        label.zipCode
                    {% endtrans %} :
                    {{ advert.zipCode }}
                </li>
                <li class="list-group-item">
                    {% trans %}
                        label.city
                    {% endtrans %} :
                    {{ advert.city }}
                </li>
                <li class="list-group-item">
                    {% trans %}
                        label.street
                    {% endtrans %} :
                    {{ advert.street }}
                </li>
                <li class="list-group-item">
                    {% trans %}
                        label.building
                    {% endtrans %} :
                    {{ advert.building }}
                </li>
                <li class="list-group-item">
                    {% trans %}
                        label.apartmentNumber
                    {% endtrans %} :
                    {{ advert.apartmentNumber }}
                </li>
            </ul>

            <p class="card-text">
                Tel.number: {{ advert.contactPhone }}
            </p>
        </div>
    </div>
{% endblock %}