
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="{{ path('index') }}" class="nav-link" role="button"
                   aria-pressed="true">
                    {% trans %}
                        nav.adverts
                    {% endtrans %}
                </a>
            </li>
        </ul>
    </div>
</nav>
